div {
  transition: width 2s, height 4s;
}

.sidebarContainer {
  background-color: #0a26ee;
  z-index: 0;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  position: relative;
  color: white;
  text-align: center;
  font-size: medium;
}

.sidebarContainer:hover {
  width: 400px;
}
.sidebarDiv {
  display: flex;
  flex-direction: row;
  align-self: center;
}

.container {
  font-size: 18px;
}
.hideSidebar {
  display: none;
}

.navbartext {
  color: white;
  font-size: 2.5vh;
  padding-right: 10px;
}

.iconImage {
  color: #0a26ee;
  margin-left: 0px;
  height: 30px;
  width: 30px;
}

.navbartext:hover {
  cursor: pointer;
  transform: scale(1.04);
}

.div-icon {
  height: 100%;
  position: absolute;
}
.nav-text {
  padding-left: 5px;
  padding-right: 5px;
  padding-top: 50%;
}
.icon-container {
  color: #fff;
}
.icon-container:hover {
  text-decoration: underline;
  transform: scale(1.02);
}

.navmenuitems {
  background-color: red;
}
.nav-text {
  font-size: 20px;

  padding-bottom: 100px;
  min-height: 200px;
}

.sidebarDiv {
  align-self: center;
}

.sidebarText {
  align-self: center;
}

.navbaricon {
  color: white;
  padding-right: 5px;
  max-height: 45px;
}

.sidebarDiv.hideSidebar {
  transition: color 0.1s, border 0.1s;
}
