.container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-left: 100px;
  margin-top: 25px;
  height: 59vh;
  outline: 8px solid #3f51b5;
  width: 323px;
  padding-left: 10px;
}
.picture {
  margin-top: 20px;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.picture h2 {
  color: #3f51b5;
}
.picture img {
  height: 300px;
  width: 300px;
  border-radius: 30%;
  margin: 10px 0px;
}

.info {
  border: #3f51b5 10px solid;
  margin-top: 20px;
  margin-left: 60px;
  padding: 10px;
  border-radius: 5px;
  width: 50%;
  background-color: #d3d3d352;
  color: black;
  box-shadow: rgb(163 159 155) 6px 4px 6px 4px;

}

.orderedList{
  text-align: center;
}

.info p {
  font-size: 20px;
  font-weight: 400;
  margin: 5px;
}
.btnInfopersonal {
  padding: 10px;
  border-radius: 5px;
  background: transparent;
  color: cornflowerblue;
  border: cornflowerblue 1px solid;
}

#tableActiveJobs{
    text-align: center;
    outline: 1px solid;
    margin-top: 39px;
}
.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 25px
}

.hugeContainer{
  display: flex;
  justify-content: center;
  margin-top: 40px;

}
